@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-link{
  color: black !important;
  font-weight: bold;
}
.navbar-brand{
  color: black !important;
  font-weight: bolder;
}
select{
  box-shadow: none !important;
  border-color: black !important;
}